{% extends 'base.html.twig' %}

{% block title %}CRUD Utilisateurs -
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="d-flex flex-column text-center" id="homeBO">
		<h1 class="my-3">Gestion des utilisateurs</h1>
		<div>
			<a class="btn-edit btn btn-md btn-primary mx-2 my-2" href="{{ path('backoffice_user_new') }}">
				<i class="fas fa-user-plus"></i>
			</a>
		</div>

		{# USER CARD LOOPED #}
		{% for user in users %}
			<div class="d-flex flex-column container my-3 bg-info" id="container-usersCards">
				<div class="col-12 bg-dark text-white fw-bold">{{ user.id }}
					-
					{{ user.pseudo }}</div>
				<div
					class="d-flex flex-row row">
					{# ENTETES PROPERTIES #}
					<div class="col-4 col-md-5 col-lg-6 d-flex flex-column align-items-start fw-bold border border-start-0 border-secondary p-0">
						<h5 class="border-bottom border-secondary h6 w-100 m-0">PROPERTIES HEADER</h5>
						<div class="border-bottom border-secondary w-100 text-start">Avatar</div>
						<div class="border-bottom border-secondary w-100 text-start">Email</div>
						<div class="border-bottom border-secondary w-100 text-start">Role</div>
						<div class="border-bottom border-secondary w-100 text-start">Status user</div>
						<div class="{{ loop.last ? ' ' : 'border-bottom border-secondary' }} w-100 text-start">Créé le</div>
					</div>
					{# USERS DATA #}
					<div class="col-8 col-md-7 col-lg-6 border border-start-0 border-end-0 border-secondary p-0">
						<h5 class="border-bottom border-secondary h6 m-0">DATA HEADERS</h5>
						<div
							class="border-bottom border-secondary w-100 text-start">
							{# <img src="" alt="">Avatar user #}
							TEST
						</div>
						<div class="border-bottom border-secondary w-100 text-start">
							{{ user.email }}
						</div>
						<div class="border-bottom border-secondary w-100 text-start">
							{{ user.roles|json_encode }}
						</div>
						{% set userStatus = user.isVerified == 0 ? 'non-vérifié' : 'vérifié' %}
						<div class="border-bottom border-secondary w-100 text-start">
							{{ userStatus }}
						</div>
						<div class="{{ loop.last ? ' ' : 'border-bottom border-secondary' }} w-100 text-start">
							{{ user.createdAt|date("d-m-Y") }}
						</div>
					</div>
				</div>
				{# Actions buttons #}
				<div class="d-flex flex-row justify-content-end">
					<a class="btn-edit btn btn-md btn-primary mx-2 my-2" href="{{ path('backoffice_user_edit', {'id': user.id}) }}">
						<i class="far fa-edit"></i>
					</a>

					{{ include('backoffice/user/_delete_form.html.twig') }}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="text-center">
		<a class="btn-edit btn btn-md btn-primary mx-2 my-2" href="{{ path('app_backoffice_home') }}">
			<i class="fas fa-reply-all"></i>
		</a>
	</div>
{% endblock %}
