{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur -
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class='d-flex flex-column align-items-center text-center'>
		<h1 class="my-3">Créer un utilisateur</h1>

		{{ form_start(form) }}
		{{ form_errors(form) }}

		{{ form_row(form.pseudo) }}
		{{ form_row(form.email) }}
		{{ form_row(form.password) }}
		{{ form_row(form.avatar) }}
		{{ form_widget(form.save, { 'label': 'Enregistrer' }) }}

		{{ form_end(form) }}
	</div>

{% endblock %}
