{% extends 'base.html.twig' %}

{% block title %}CRUD des publications -
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="d-flex flex-column align-items-center">
		<h1 class="my-3">Gestion des publications</h1>
		<div>
			<a class="btn-edit btn btn-md btn-primary mx-2 my-2" href="{{ path('app_backoffice_post_new') }}">
				<i class="fas fa-plus-square"></i>
			</a>
		</div>
	</div>
	<div class="d-flex flex-row flex-wrap justify-content-between container-fluid">
		{% if listOfPosts|length >= 1 %}

			{% for post in listOfPosts %}

				<div class="postCard_style d-flex flex-column col-12 col-md-5 col-lg-3 my-3 p-3 m-sm-3">
					<div class="d-flex flex-row flex-nowrap justify-content-center">
						{{ post.title }}
					</div>
					<div class="">
						{% if post.image %}
							{# CSS tips : w-100 et height auto pour que balise img reste dans son elm parent #}
							<img class="w-100 h-auto" src="{{ asset('images/posts/' ~ post.image ) }}">
						{% elseif post.video %}
							{{ post.video }}
						{% else %}
							Pas de média chargé
						{% endif %}

					</div>
					<div class="d-flex flex-row flex-nowrap justify-content-between">
						<div class="">
							Catégorie :
							{{ post.productCategory }}
						</div>
						<div>
							Status :
							{{ post.status }}
						</div>
					</div>
					<div class="d-flex flex-row flex-nowrap justify-content-between">
						<div>
							Publié le :
							{{ post.createdAt|date("d-m-Y") }}
						</div>
						<div class="d-flex flex-row">
							{{ post.author }}
						</div>
					</div>
					{# <div class="d-flex flex-row">
									{{ post.content }}
								</div> #}
				</div>
			{% endfor %}

			{% else %}
				<div class="m-auto">Vous n'avez pas encore de publications à ce jour</div>
		{% endif %}
	</div>
	<div class="text-center">
		<a class="btn-edit btn btn-md btn-primary mx-2 my-2" href="{{ path('app_backoffice_home') }}">
			<i class="fas fa-reply-all"></i>
		</a>
	</div>
{% endblock %}
