{% extends 'base.html.twig' %}

{% block title %}CRUD des posts -
	{{ parent() }}
{% endblock %}

{% block body %}
<div class="d-flex flex-column align-items-center">
		<h1 class="my-3">Gestion des posts</h1>
		<div>
			<a class="btn-edit btn btn-md btn-primary mx-2 my-2" href="{{ path('app_backoffice_post_new') }}">
				<i class="fas fa-plus-square"></i>
			</a>
		</div>
</div>
<div class="d-flex flex-row flex-wrap justify-content-between container">

	{% for post in listOfPosts %}

		<div class="d-flex flex-column bg-dark text-white col-12 col-md-5 col-lg-3 border border-3 border-warning my-3 p-3 m-sm-3 rounded">
			<div class="d-flex flex-row flex-nowrap justify-content-center">
				{{ post.title }} - Post n°{{ post.id }}
			</div>
			<div class="d-flex flex-row justify-content-center">
			{% if post.image %}
				{{ post.image }}
				{% elseif post.video %}
				{{ post.video }}
				{% else %}
				Pas de média chargé
			{% endif %}
			
			</div>
			<div class="d-flex flex-row justify-content-around">
				<div>
					Catégorie : 
				</div>

				<div>
					Status : {{ post.status }} 
				</div>
				<div>
					Publié le : {{ post.createdAt|date("d-m-Y") }} 
				</div>
			</div>
			<div class="d-flex flex-row">
				{{ post.content }}
			</div>
			<div class="d-flex flex-row">
				Auteur : {{ post.author }}
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}

{# {% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image</th>
                <th>Video</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.image }}</td>
                <td>{{ post.video }}</td>
                <td>{{ post.status }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_backoffice_post_show', {'id': post.id}) }}">show</a>
                    <a href="{{ path('app_backoffice_post_edit', {'id': post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_post_new') }}">Create new</a>
{% endblock %} #}
