{% extends 'base.html.twig' %}

{% block title %}CRUD Catégories de produits -
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="d-flex flex-column text-center" id="homeBO">
		<h1 class="my-3">Gestion des catégories de produits</h1>
		<div>
			<a class="btn-edit btn btn-md btn-primary mx-2 my-2" href="{{ path('app_backoffice_product_category_new') }}">
				<i class="fas fa-plus-square"></i>
			</a>
		</div>
		{# Product category CARD LOOPED #}
		{# {% for user in users %} #}
		<div class="d-flex flex-column container my-3 bg-info" id="container-usersCards">
			<div class="col-12 bg-dark text-white fw-bold">category id
													-
													category name</div>
			<div
				class="d-flex flex-row row">
				{# ENTETES PROPERTIES #}
				<div class="col-4 col-md-5 col-lg-6 d-flex flex-column align-items-start fw-bold border border-start-0 border-secondary p-0">
					<h5 class="border-bottom border-secondary h6 w-100 m-0">PROPERTIES HEADER</h5>
					<div class="border-bottom border-secondary w-100 text-start">Image</div>
					<div class="w-100 text-start">Créé le</div>
					{# {{ loop.last ? ' ' : 'border-bottom border-secondary' }}  #}
				</div>
				{# Products categories DATA #}
				<div class="col-8 col-md-7 col-lg-6 border border-start-0 border-end-0 border-secondary p-0">
					<h5 class="border-bottom border-secondary h6 m-0">DATA HEADERS</h5>
					<div
						class="border-bottom border-secondary w-100 text-start">
						{# <img src="" alt="">Avatar user #}
						TEST
					</div>
					<div class="border-bottom border-secondary w-100 text-start">
						DATE DE CREATION
					</div>
					<div class="w-100 text-start">
						{# {{ loop.last ? ' ' : 'border-bottom border-secondary' }} #}
						{# {{ user.createdAt|date("d-m-Y") }} #}
					Créé le
				</div>
			</div>
			</div>
			{# Actions buttons #}
				<div class="d-flex flex-row justify-content-end"> <a
					class="btn-edit btn btn-md btn-primary mx-2 my-2" href="">
					{# {{ path('backoffice_user_edit', {'id': user.id}) }} #}
					<i class="far fa-edit"></i>
				</a>
				<a
					class="btn-delete btn btn-sm btn-danger mx-2 my-2" href="">
					{# {{ path('backoffice_user_delete', {'id': user.id}) }} #}
					<i class="fas fa-trash-alt"></i>
				</a>
			</div>
		</div>
		{# {% endfor %} #}
	</div>
	<div class="text-center">
		<a class="btn-edit btn btn-md btn-primary mx-2 my-2" href="{{ path('app_backoffice_home') }}">
			<i class="fas fa-reply-all"></i>
		</a>
	</div>
{% endblock %}
